
/* HTML */

body{
font-family: 'lato';
text-align: center;

}

h1{
  font-weight: 900;
  font-size: 5rem;
}

h2{
  font-weight: 100;
  font-size: 2rem

}

h3{
  font-weight: 900;
  font-size: 1.75rem

}

p{
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;

}

/* IDs */

#title {
}

#testimonial{
  padding-top: 5%;
  padding-bottom: 5%;
}

#profile{
  padding-top: 5%;
  padding-bottom: 5%;
}

#bio{
  padding-top: 5%;
  padding-bottom: 5%;
}

#stats{
  padding-top: 5%;
  padding-bottom: 5%;
}

#footer{
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Sections */

.blue-section{
  background-color: #293462;
  color: #f7be16;
  padding: 0 15%;
}

.white-section{
  color: #293462;
  padding: 0 15%;
}

/* Title */

.navbar{
padding-right: 20%;
}

.navbar-brand{
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 20%;
}


.title-image{
  padding-top: 3%;
  width: 45%;
}

/* Profile */

.profile-image{
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 50%;
  width: 30%;
}

/* Biography */

.spurs-image{
  width: 50%;
  padding-bottom: 5%;
}

.england-image{
  width: 50%;
  padding-bottom: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
top: 0;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #293462;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #293462;
}

/* Stats */

.card{
  color: #293462;
}

.stats-title{
  padding-bottom: 3%;
}

/* Footer */

.footer-text{
  padding-top: 2%;
}
